<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="p" class="com.xiaorui.pojo.Porson" >
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="s" class="com.xiaorui.pojo.Student" autowire="constructor" lazy-init="true" scope="prototype">
        <!-- collaborators and configuration for this bean go here -->
    </bean>


    <!-- more bean definitions go here -->
    <context:component-scan base-package="com.xiaorui.pojo">

    </context:component-scan>

</beans>